.app {
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.5rem;
}

button.primary-btn,
button.secondary-btn {
  padding: 0.5rem 1.8rem;
  font-family: inherit;
  border: none;
  border-radius: 3px;
  height: 40px;
}

button.primary-btn {
  background-color: teal;
  color: #fff;
}

button.secondary-btn {
  background-color: #fff;
  color: #333;
  border: 1px solid teal;
}
