form {
  display: block;
  width: 100%;
  padding: 0 1rem;
}

h2 {
  margin-bottom: 2rem;
}
form div {
  display: flex;
}

form label {
  display: inline-block;
  width: 300px;
  margin-bottom: 2rem;
}

form input,
select {
  height: 35px;
  padding: 0 0.5rem;
  font-family: inherit;
  width: 100%;
  background-color: rgb(192, 250, 250);
  border: none;
}

form textarea {
  height: 105px;
  width: 100%;
  font-family: inherit;
  padding: 0.5rem;
  background-color: rgb(192, 250, 250);
  border: none;
}

.primary-btn {
  width: 100%;
  cursor: pointer;
  height: 40px;
  margin-top: 1.5rem;
}
